# Default ignored files
/../../../../../../../../loud2020/.idea/shelf/
/../../../../../../../../loud2020/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../loud2020/.idea/dataSources/
/../../../../../../../../loud2020/.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../../../../../../../loud2020/.idea/httpRequests/
